.p{
  position: fixed;
  margin: 0px auto;
  top:20%;
  left:20%;
  width: 70%;
  height: 70%;
  border-radius: 1rem;
  box-sizing: border-box;
  background: rgba(255, 255,255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 15px;
  color:black;
  font-weight: bolder;
}
.header{
 padding: 3px;
 margin-top: 20px;
  margin-left: 30px;
  background-color: blue;
 height: 30px;
 border-radius: 0.5rem;
}
.inline{
  display: inline;
}
.tag{
  margin-right: 3px;
}
.radio{
  display: inline;
  margin-right: 15px;
  margin-left:2px;
  padding: 2px;
}
form{
  margin-top: 20px;
  margin-left: 30px;
}
.form-control.ng-touched.ng-invalid{
  border: 2px solid red;
}
.form-control.ng-valid{
  border: 3px solid green;
}
.grp{
  margin-right:10px;
  margin-bottom: 15px;
}

