<div class="step">
<div class="my"> <h3  >welcome {{name}}! </h3><button  class="btn btn-success" style="font-weight: 500;" type="submit" routerLink="/login">logout</button></div>
<ul class=" nav nav-pills">
  <li class="nav-item" ><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" routerLink="/plan">plan your travel</a></li>
  <li class="nav-item"><a  class="nav-link" routerLinkActive="active" routerLink="/seats" >select your seats</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/pay" >payment</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/ticket">ticket confirmation</a></li>
</ul>

</div>
