/*.step{
  position: fixed;
  margin: 0px auto;
  top:20%;
  left:20%;
  width: 70%;
  height: 68%;
  border-radius: 1rem;
  box-sizing: border-box;
  background: rgba(255, 255,255, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  padding: 15px;
  color: white;
  font-weight: bolder;
}*/
a{
  color : white;

}
h3{
  text-shadow: 3px;
  color: black;
}

.nav-link{
  background-color: grey;
  border-radius: 1rem;
  margin-left: 5px;
}
.nav-link:hover{
  background-color:blue;
}
.my{
  display: inline;
}
button{
  float: right;
}



